html {
    color: #222;
}

body {
    font-size: 2em;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 960px;
    text-align: center;
    width: 80%;
}

main > h1 {
    font-size: 400%;
    margin: .25em;
}

main > h1 span {
    display: block;
}

main > h1 .versus {
    font-size: 50%;
    margin: -0.5em 0;
}

main {
    margin-bottom: 2em;
}
